#about {
    background-image: linear-gradient(to right, #E90DDA 0%, #15CFF1 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 2s cubic-bezier(0,.61,1,.4);
    margin-top: 0;
    padding-bottom: 5rem;
    overflow: hidden;
}

#about.animated {
    background-size: 100% 100%; 
}

#about-title {
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 8vw;
    font-weight: 600;
    color: white;
}

.sub-title {
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 7.5vw;
    font-weight: 400;
    color: white;
}

.about-text {
    margin-top: 1vh;
    color: white;
    font-size: 5vw;
}

.about-paragraph {
    text-align: left;
}

#pro-pic {
    max-height: 60vh;
    background-clip: content-box;
    background-size: cover;
}

.icon-col{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.icon-images{
  display: block;
  margin: auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

@media (min-width: 768px) and (max-width: 2560px) {
    .about-text {
        font-size: 200%;
    }
    .about-title {
        padding-top: 2.5rem;
        font-weight: 400;
        font-size: 300%;
    }
    #pro-pic {
        align-self: center;
        padding-bottom: 1.5rem;
    }
    .icon-images{
        align-self: center;
    }
}
