#about {
    background-image: linear-gradient(to right, #E90DDA 0%, #15CFF1 100%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 2s cubic-bezier(0,.61,1,.4);
    margin-top: 0;
    padding-bottom: 5rem;
    overflow: true;
}

#about.animated {
    background-size: 100% 100%; 
}

#about-title {
    margin-top: 1.5rem;
    padding: 2rem;
    font-size: 8vw;
    font-weight: 600;
    color: white;
}

.about-text {
    color: white;
    font-size: 125%;
}

.about-paragraph {
    text-align: center;
}

#pro-pic {
    max-height: 60vh;
    background-clip: content-box;
    background-size: cover;
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .about-text {
        font-size: 200%;
    }
    .about-title {
        padding-top: 2.5rem;
        font-weight: 400;
        font-size: 300%;
    }
    #pro-pic {
        align-self: center;
        padding-bottom: 1.5rem;
    }
}
